{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('homepage') }}" class="btn btn-secondary mt-3 return-home-button">Return Home</a>
  <h2> Add New Recipe</h2>
  <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.recipe_name.label }}<br>
          {{ form.recipe_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.ingredients.label }}<br>
          {{ form.ingredients(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.preparation_instructions.label }}<br>
          {{ form.preparation_instructions(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.serving_instructions.label }}<br>
          {{ form.serving_instructions(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.image.label(for='image') }}<br>
          <input type="file" id="image" name="image" style="display: none;">
          <label for="image" class="btn-file-upload">Upload Recipe Image</label>
        </div>
        <input type="submit" value="Add Recipe" class="btn btn-primary">
  </form>
{% endblock %}
