<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Collection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1 class="title-indian-style">Indian Cuisine Cookbook</h1>
    <hr>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            {{ form.image.label }}<br>
            {{ form.image(id="file-upload") }}
            <label for="file-upload">Choose Recipe Image</label>
        </div>
        <input type="submit" value="Submit">
    </form>
    {% for recipe in recipes%}
    <div class="recipe-card">
        <img src="{{ url_for('static', filename='RECIPE_IMG/' + recipe.image) }}" alt="Recipe Image">
        <h2 class="recipe-card-title">{{ recipe.name}}</h2>
        <p class="recipe-card-content">{{ recipe.description }}</p>
    </div>
    {% endfor %}
    {% endblock %}
</div>
</body>
</html>
