{% extends "base.html" %}
{% block content %}
    <h2>All Recipes</h2>
    <ul>
        {% for recipe in recipes %}
        <div class="recipe-card">
            <img src="{{ url_for('static', filename='image_dir/' + recipe.image) }}" alt="{{ recipe.name }}">
            <h2 class="recipe-card-title">{{ recipe.name }}</h2>
            <p class="recipe-card-content"><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
            <p class="recipe-card-content"><strong>Preparation:</strong> {{ recipe.prep_instructions }}</p>
            <p class="recipe-card-content"><strong>Serving:</strong> {{ recipe.serving_instructions }}</p>
        </div>
    {% else %}
        <p> No recipes avaliable yet.</p>
    {% endfor %}
    </ul>
{% endblock %}
